.navbar {
  font-family: "Baloo Da 2", cursive;
  padding: 0;
  margin: 0;
  background-color: rgb(46, 45, 45);
  color: white;
  padding: 1% 5%;
}

.launchName {
  font-size: 5rem;
  font-weight: bold;
  padding: 5%;
}

.launchDetails{
  font-size: large;
  font-weight: bold;
}

.launchDate{
  font-size: large;
  font-weight: bold;
  color: rgb(71, 50, 50);
  padding-top: 5%;
}

.launchItem{
  padding: 5%;
  background-color: lightblue;
  height: 100%;
  width: 60%;
  border-radius: 1rem;
  margin: 5%;
  line-height: 2rem;
  text-align: center;
}